*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $main-font;
    font-size: $default-font-size;
    background-color: #618093;
}