// Color variables
$color-grey-light: #f9f9f9;
$color-grey: #e9ebee;
$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

$color-primary: #062F4F;
$color-secondary: #813722;

$color-error: #cc0000;

// Font variables
$main-font:  Montserrat,sans-serif;

$default-font-size: 1.4rem;
$large-font-size: 1.8rem;
$x-large-font-size: 2.4rem;

// Margin variables
$default-margin: 1.4rem;

// Padding variables
$default-padding: 1rem;
$large-padding: 1.6rem;

// Sizes
$site-max-width: 108rem;
$site-min-height: calc(100vh - 106px);