.page-content{
    max-width: $site-max-width;
    margin: 0 auto;
    padding: $large-padding;
}

.wrapper{
    position: absolute;
    left: 120px;
    top: 0px;
    width: calc(100% - 120px);
    min-height: 100vh;
}

.content{

}

.search-wrapper{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color-primary, .9);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;

    transition: all .3s ease;
}

.search-wrapper.search-open{
    display: block;
    visibility: visible;
    opacity: 1;
}

.result-container{
    padding: $huge-padding;

    &__message{
        padding: $default-padding;
        font-size: $x-large-font-size;
    }
}