.tab-control{
    background: $color-primary;
    width: 100%;
    display: flex;
    padding: 0 $huge-padding;

    &__tab{
        padding: $default-padding;
        cursor: pointer;
        color: $color-white;
        text-align: center;
        border-bottom: 5px solid transparent;

        &:hover{
            background: $color-primary-light-1; 
        }
    
        &.selected{
            border-color: $color-secondary-light;
            color: $color-white;
        }

        &:not(:last-child){
            margin-right: $default-margin;
        }
    }

    &__value{
        font-size: $x-large-font-size;
    }

    &__name{

    }
}