.tag {
    border: 1px solid $color-white;
    padding: .5rem .75rem;
    border-radius: .5rem;
    cursor: pointer;
    font-size: $large-font-size;
    transition: .3s ease;

    &:not(:first-child){
        margin-left: $small-margin;
    }

    &:hover{
        background: $color-secondary;
        border-color: $color-secondary;
    }
}